* {
    box-sizing: border-box;
}

body{
	margin:0 auto;
	font-size:0.9em;
}
header{
	background-color:#F2F3F5;
	height:300px;

}
li a ul{
	display:block;
	float:left;
	list-style-type:none;

}
ul{
	list-style-type: none;
}
li :hover{
	background-color:red;
}

a:link{
	text-decoration: none;
	color:black;
}